<!DOCTYPE html>
<html>
<head>
    <title>123</title>
    <meta charset="utf-8">
    <meta content="IE=dege,chrom=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>Cart</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/checkout.css" rel="stylesheet">
    <link href="css/modal.css" rel="stylesheet">
    <style type="text/css">
        .quantity input {
            width: 40px;
            padding: 5px 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="checkout">
      <div id="app">
        <div class="container">
          <div class="cart">
            <div class="checkout-title">
              <span>购物车</span>
            </div>

            <!-- table -->
            <div class="item-list-wrap">
              <div class="cart-item">
                <div class="cart-item-head">
                  <ul>
                    <li>商品信息</li>
                    <li>商品金额</li>
                    <li>商品数量</li>
                    <li>总金额</li>
                    <li>编辑</li>
                  </ul>
                </div>
                <ul class="cart-item-list">
                  <li v-for="(item,index) in productList">
                    <div class="cart-tab-1">
                      <div class="cart-item-check">
                        <a href="javascript:void 0" class="item-check-btn" :class="{check:item.checked}" @click="checkIt(item)">
                          <svg class="icon icon-ok"><use xlink:href="#icon-ok"></use></svg>
                        </a>
                      </div>
                      <div class="cart-item-pic">
                        <img :src="item.productImage" alt="烟">
                      </div>
                      <div class="cart-item-title">
                        <div class="item-name">{{item.productName}}</div>
                      </div>
                      <div class="item-include">
                        <dl>
                          <dt>赠送:</dt>
                          <dd v-for="(part,index) in item.parts">
                          <img :src="part.imgSrc" alt="gift" :style="{height:30+'px',position:'relative',top:10+'px'}">
                          {{part.partsName}}
                          </dd>
                        </dl>
                      </div>
                    </div>
                    <div class="cart-tab-2">
                      <div class="item-price">{{item.productPrice | formateMoney}}</div>
                    </div>
                    <div class="cart-tab-3">
                      <div class="item-quantity">
                        <div class="select-self select-self-open">
                          <div class="quantity">
                            <a href="javascript:void 0" @click="numP(item,-1)">-</a>
                            <input type="text" value="1" disabled v-model="item.productQuantity">
                            <a href="javascript:void 0" @click="numP(item,1)">+</a>
                          </div>
                        </div>
                        <div class="item-stock">有货</div>
                      </div>
                    </div>
                    <div class="cart-tab-4">
                      <div class="item-price-total">{{item.productPrice*item.productQuantity | formateMoney(' 元')}}</div>
                    </div>
                    <div class="cart-tab-5">
                      <div class="cart-item-operation">
                        <a href="javascript:void 0" class="item-edit-btn" @click="remove(item)">
                        删<svg class="icon icon-del"><use xlink:href="#icon-del" ></use></svg>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <!-- footer -->
            <div class="cart-foot-wrap">
              <div class="cart-foot-l">
                <div class="item-all-check">
                  <a href="javascript:void 0">
                    <span class="item-check-btn" :class="{check:checkItems}" @click="checkAll">
                      <svg class="icon icon-ok"><use xlink:href="#icon-ok"></use></svg>
                    </span>
                    <span @click="checkAll(1)">全选</span>
                  </a>
                </div>
                <div class="item-all-del">
                  <a href="javascript:void 0" class="item-del-btn">
                    <span @click="checkAll(-1)"  :style="{marginLeft:20+'px',position:'relative',top:1+'px'}">取消全选</span>
                  </a>
                </div>
              </div>
              <div class="cart-foot-r">
                <div class="item-total">
                  Item total: <span class="total-price">{{totalMoney | formateMoney(" 元")}}</span>
                </div>
                <div class="next-btn-wrap">
                  <a href="address.html" class="btn btn--red" style="width: 200px">结账</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="md-modal modal-msg md-modal-transition" id="showModal" :class="{'md-show':isFlag}">
          <div class="md-modal-inner">
            <div class="md-top">
              <button class="md-close" @click="isFlag=false">关闭</button>
            </div>
            <div class="md-content">
              <div class="confirm-tips">
                <p id="cusLanInfo">你确认删除此订单信息吗?</p>
              </div>
              <div class="btn-wrap col-2">
                <button class="btn btn--m" id="btnModalConfirm" @click="onYes">Yes</button>
                <button class="btn btn--m btn--red" id="btnModalCancel" @click="isFlag=false">No</button>
              </div>
            </div>
          </div>
        </div>
        <div class="md-overlay" v-if="isFlag" @click="isFlag=false"></div>
      </div>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="js/cart.js"></script>
</body>
</html>
